@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}
* {
  font-family: 'Cairo', sans-serif !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  cursor: all-scroll;
  background: #eee;

}

::-webkit-scrollbar-thumb {
  background: #744597;
  transition: 0.3s;

}
/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */
